<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">
    <h3>Place Order</h3>
    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form" id="order-form">
                <div class="row">
                    <div class="form-group form-inline col">
                        <label for="inputBarcode" class="required col-sm-2 col-form-label">Barcode</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode">
                        </div>
                    </div>
                    <div class="form-group form-inline col">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="input-name" id="inputName" placeholder="Name" disabled>
                        </div>
                    </div>
                    <div class="form-group form-inline col">
                        <label for="inputMrp" class="col-sm-2 col-form-label">Mrp</label>
                        <div class="col-sm-10">
                            <input type="number" value="0" class="form-control" name="quantity" id="inputMrp" placeholder="Mrp" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-inline col-4">
                        <label for="inputPrice" class="required col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" value="0" step="0.01" class="form-control" name="quantity" id="inputPrice" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group form-inline col-4">
                        <label for="inputQuantity" class="required col-sm-2 col-form-label">Quantity</label>
                        <div class="col-sm-10">
                            <input type="number" value="1" min="1" max="100" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter quantity">
                        </div>
                    </div>
                    <div class="form-group form-inline col-4">
                        <label for="inputSellingPrice" class="col-sm-3 col-form-label">Total</label>
                        <div class="col-sm-9">
                            <input type="number" step="0.01" class="form-control" name="name" id="inputSellingPrice" placeholder="Total" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline row my-1">
                    <button type="button" class="btn btn-primary" id="add-order">Add</button>&nbsp;
                </div>
            </form>
        </div>
    </div>

    <!-- Blank Row -->
    <div class="row">
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3 class="form-inline">Total:<span id="total">0</span></h3>
        </div>
        <div class="col align-self-end">
            <button type="button" class="btn btn-primary" id="submit-order">Order</button>
            <button type="button" class="btn btn-primary" id="get-invoice">Invoice</button>
        </div>
    </div>
</div>



<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/js/addOrder.js}"/></script>

</body>
</html>