<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Home</h3>

 <!-- Top row with form-->
<div class="row">
	 <div class="col-2">
	 	<a th:href="@{/ui/employee}" title="Employees"> <i class="fas fa-users"></i> </a>
	 </div>	
	 <div class="col-2">
	 	<a th:href="@{/ui/admin}" title="Admin"> <i class="fas fa-cog"></i> </a>
	 </div>
	<div class="col-2">
		<a th:href="@{/ui/brand}" title="Brand"> <i class="fas fa-tag"></i> </a>
	</div>
	<div class="col-2">
		<a th:href="@{/ui/product}" title="Product"> <i class="fas fa-tags"></i></a>
	</div>
	<div class="col-2">
		<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fas fa-warehouse"></i></a>
	</div>
	<div class="col-2">
		<a th:href="@{/ui/order}" title="Order"> <i class="fas fa-file-invoice"></i></a>
	</div>
	<div class="col-2">
		<a th:href="@{/ui/report}" title="Report"> <i class="fas fa-chart-pie"></i></a>
	</div>
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>