<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Home</h3>

 <!-- Top row with form-->
<div class="row gx-5">
	 <div class="col-3">
	 	<a th:href="@{/ui/employee}" title="Employees"> <i class="fas fa-users"></i> </a><br>
		 Employee
	 </div>	
	 <div class="col-3">
	 	<a th:href="@{/ui/admin}" title="Admin"> <i class="fas fa-cog"></i></a><br>
		 Admin
	 </div>
	<div class="col-3">
		<a th:href="@{/ui/brand}" title="Brand"> <i class="fas fa-tag"></i> </a><br>
		Brand
	</div>
	<div class="col-3">
		<a th:href="@{/ui/product}" title="Product"> <i class="fas fa-tags"></i></a><br>
		Product
	</div>
</div>
	<div class="row"></div>
	<div class="row"><br>
	<div class="col-3">
		<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fas fa-warehouse"></i></a><br>
		Inventory
	</div>
	<div class="col-3">
		<a th:href="@{/ui/order}" title="Order"> <i class="fas fa-file-invoice"></i></a><br>
		Order
	</div>
	<div class="col-3">
		<a th:href="@{/ui/report}" title="Report"> <i class="fas fa-chart-pie"></i></a><br>
		Report
	</div>
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>