<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">
    <h3>Order</h3>
    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form id="order-form">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="search" id="inputSearch" placeholder="Search">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Start Date: <input id="startDate" width="276" required/>
                    </div>
                    <div class="col">
                        End Date: <input id="endDate" width="276" required/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a href="/pos/ui/order/create">
                            <button type="button" class="btn btn-primary" id="add-order">Add</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>

    <!-- Blank Row -->
    <div class="row">
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoice</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>



<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/js/order.js}"/></script>

</body>
</html>