<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head">
</head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">
    <form>
        <div class="form-row">
            <div class="col">
                Start Date: <input id="startDate" width="276" required/>
            </div>
            <div class="col">
                End Date: <input id="endDate" width="276" required/>
            </div>
        </div>
    </form>
    <hr>
    <div class="col-12 mt-2 mb-2">
        <div class="row">
            <div class="col-4">
                <h4>No of Orders:&nbsp;<span id="order-count"></span></h4>
            </div>
            <div class="col-4">
                <h4>No of Items:&nbsp;<span id="item-count"></span></h4>
            </div>
            <div class="col-4">
                <h4>Total Revenue:&nbsp;<span id="total-revenue"></span></h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-2 mb-4">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getCategoryReport">Category Report</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getBrandReport">Brand Report</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getInventoryReport">Inventory Report</button>
        </div>
    </div>
    <div class="row">

        <!-- Table  Category-->
        <div class="col-12" id="category-table-div">
            <h3>Category Table</h3>
            <table class="table table-striped" id="category-table">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Revenue</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
    <!-- Table Brand-->
        <div class="col-12" id="brand-table-div">
            <h3>Brand Table</h3>
            <table class="table table-striped" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Revenue</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
    <!-- Table Inventory-->
        <div class="col-12" id="inventory-table-div"n>
            <h3>Inventory Table</h3>
            <table class="table table-striped" id="inventory-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/js/report.js}"/></script>

</body>
</html>