<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head">
</head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">
    <form>
        <div class="form-row">
            <div class="col">
                Start Date: <input id="startDate" width="276" required/>
            </div>
            <div class="col">
                End Date: <input id="endDate" width="276" required/>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" id="getReport">Get Report</button>
            </div>
        </div>
    </form>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                No of Orders:<span id="order-count"></span>
            </div>
            <div class="col-4">
                No of Items:<span id="item-count"></span>
            </div>
            <div class="col-4">
                Total Revenue:<span id="total-revenue"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getCategoryReport">Get Category Report</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getBrandReport">Get Brand Report</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getInventoryReport">Get Inventory Report</button>
        </div>
    </div>
    <div class="row">

        <!-- Table  Category-->
        <div class="col-12">
            <table class="table table-striped" id="category-table">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Revenue</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">

    <!-- Table Brand-->
    <div class="col-12">
        <table class="table table-striped" id="brand-table">
            <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Quantity</th>
                <th scope="col">Revenue</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <!-- Table Inventory-->
    <div class="col-12">
        <table class="table table-striped" id="inventory-table">
            <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>


</div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/js/report.js}"/></script>

</body>
</html>