<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head">
</head>
<body>
<div th:if="${info.getRole() == 'operator'}">
    <nav  th:replace="snippets.html :: name_app_navbar_operator"></nav>
</div>
<div th:if="${info.getRole() == 'supervisor'}">
    <nav  th:replace="snippets.html :: name_app_navbar"></nav>
</div>
<div class="container col-10">
    <form>
        <div class="form-row">
            <div class="col form-inline">
                Start Date:&nbsp;<input id="startDate" readonly="true" required/>
            </div>
            <div class="col form-inline">
                End Date:&nbsp;<input id="endDate" readonly="true" required/>
            </div>
        </div><br>
        <div class="form-row">
            <div class="col form-inline">
                Brand:&nbsp;<input type="text" class="form-control" name="barcode" id="inputBrand" placeholder="Enter Brand">
            </div>
            <div class="col form-inline">
                Category:&nbsp;<input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category">
            </div>
        </div>
    </form>
    <div class="row mt-2 mb-4">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getSalesReport">Sales Report</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getBrandReport">Brand Report</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="getInventoryReport">Inventory Report</button>
        </div>
    </div>
    <div class="row">

        <!-- Table  Sales-->
        <div class="col-12" id="sales-table-div">
            <h3>Sales Table</h3>
            <table class="table table-striped" id="sales-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Revenue</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" id="getSalesReportCsv">Generate CSV</button>
        </div>
    </div>
    <div class="row">
    <!-- Table Brand-->
        <div class="col-12" id="brand-table-div">
            <h3>Brand Table</h3>
            <table class="table table-striped" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Revenue</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" id="getBrandReportCsv">Generate CSV</button>
        </div>
    </div>
    <div class="row">
    <!-- Table Inventory-->
        <div class="col-12" id="inventory-table-div"n>
            <h3>Inventory Table</h3>
            <table class="table table-striped" id="inventory-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" id="getInventoryReportCsv">Generate CSV</button>
        </div>
    </div>


</div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/js/report.js}"/></script>

</body>
</html>