<head th:fragment="name_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">

<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" th:href="@{/static/css/app.css}">


</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1" th:fragment="name_site_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/site/features' ? 'active':''}">
        <a class="nav-link" th:href="@{/site/features}">Features</a>
      </li>
      <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/site/pricing' ? 'active':''}">
        <a class="nav-link" th:href="@{/site/pricing}">Pricing</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
       <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/site/login' ? 'active':''}">
        <a class="nav-link" th:href="@{/site/login}">Login</a>
      </li>
    </ul>
 
  </div>
</nav>
<--Supervisor Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-1" th:fragment="name_app_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/supervisor/home' ? 'active':''}">
        <a class="nav-link" th:href="@{/ui/supervisor/home}">Home</a>
      </li>
        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/brand' ? 'active':''}">
            <a class="nav-link" th:href="@{/ui/brand}">Brand</a>
        </li>
        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/product' ? 'active':''}">
            <a class="nav-link" th:href="@{/ui/product}">Product</a>
        </li>
        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/inventory' ? 'active':''}">
            <a class="nav-link" th:href="@{/ui/inventory}">Inventory</a>
        </li>
        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/order' ? 'active':''}">
            <a class="nav-link" th:href="@{/ui/order}">Order</a>
        </li>
      <li class="nav-item"th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/report' ? 'active':''}">
        <a class="nav-link" th:href="@{/ui/report}">Report</a>
      </li>
      <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/scheduler' ? 'active':''}">
        <a class="nav-link" th:href="@{/ui/scheduler}">Scheduler</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
	    <li class="navbar-text">
	    	[[${info.getEmail()}]]
	    	&nbsp;&gt;&nbsp;
	    </li>
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/session/logout}">Logout</a>
	    </li>
    </ul>
    
        
  </div>
</nav>
<--Operator Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-1" th:fragment="name_app_navbar_operator">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/operator/home' ? 'active':''}">
        <a class="nav-link" th:href="@{/ui/operator/home}">Home</a>
      </li>
      <li class="nav-item"th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/report' ? 'active':''}">
        <a class="nav-link" th:href="@{/ui/report}">Report</a>
      </li>
      <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/pos/ui/scheduler' ? 'active':''}">
        <a class="nav-link" th:href="@{/ui/scheduler}">Scheduler</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="navbar-text">
        [[${info.getEmail()}]]
        &nbsp;&gt;&nbsp;
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/session/logout}">Logout</a>
      </li>
    </ul>


  </div>
</nav>
<footer class="footer  mt-1" th:fragment="name_footer">
	Copyright Increff 2019
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<script th:src="@{/static/js/app.js}"/></script>
	<script th:src="@{/static/js/papaparse.min.js}"/></script>
	
</footer>


