<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container col-10">
	<div class="row"></div><br>
	<div class="row"></div><br>
	<div class="row"></div><br>
 <!-- Top row with form-->
<div class="row my-2">
	<div class="col-4">
		<a th:href="@{/ui/brand}" title="Brand"> <i class="fas fa-tag"></i> </a><br>
		Brand
	</div>
	<div class="col-4">
		<a th:href="@{/ui/product}" title="Product"> <i class="fas fa-tags"></i></a><br>
		Product
	</div>
	<div class="col-4">
		<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fas fa-warehouse"></i></a><br>
		Inventory
	</div>
</div>
	<div class="row"></div><br>
	<div class="row"></div><br>
	<div class="row"></div><br>
	<div class="row"><br>
	<div class="col-4">
		<a th:href="@{/ui/order}" title="Order"> <i class="fas fa-file-invoice"></i></a><br>
		Order
	</div>
	<div class="col-4">
		<a th:href="@{/ui/report}" title="Report"> <i class="fas fa-chart-pie"></i></a><br>
		Report
	</div>
	<div class="col-4">
		<a th:href="@{/ui/scheduler}" title="Scheduler"> <i class="fas fa-clock"></i></a><br>
		Day&nbsp;on&nbsp;Day&nbsp;Sales
	</div>
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>